:root {
  --black: #000000;
  --white: white;
  --darkGray: #1c1c1e;
  --lightGray: #aaa7a7;
  --blueNavy: #10378c;
  --blueTansp: #104a8c63;
  --grayBlue: rgb(46, 45, 70);
  --transparent: rgba(0, 0, 0, 0);
  --red: #ff0000;

}

html {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 420px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 800px) {
  html {
    font-size: 18px;
  }
}


body {
  margin: 0;
  background-color: var(--darkGray);
  height: 100vh;
}

.error-message {
  color: var(--red);
  width: 100%;
  text-align: center;
}

.exchange-message{
  color: var(--white);
  font-weight: bold;
}

.countdown-container{
  position: relative;
 width: auto;
 padding:1rem;
 background-color: var(--blueTansp);
  display: none;
}

.minutes-parent,
.seconds-parent{
  position: relative;
  width: 3rem;
  height: 2rem;
}


.minutes-count-down,
.seconds-count-down{
  position: absolute;
  text-align: center;
  color: var(--white);
  padding:0.5rem;
  width: 2rem;
  height: 1rem;
  background-color: var(--blueTansp);
  transform-origin: 50% 50%;
  transition: all 0.2s ease-in-out;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0.3rem var(--blueNavy);
}

#currency-exhange-component {
  display: flex;
  flex-direction: column;
}

.ui-theme-a {
  width: 100%;
  height: calc(auto - 2 * 5vh);
  padding: 2vh 0;
  background-color: var(--black);
}

.currency-component-item {
  position: relative;
  padding: 1rem;
  width: calc(100% - 2 * 1rem);
  height: calc(30vh - 2 * 1rem);
  min-height: calc(12rem - 2 * 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currency-component-item:nth-of-type(1) {
  background-color: var(--black);
}

.currency-component-item:nth-of-type(2) {
  background-color: var(--darkGray);
}

.currency-component-item:nth-of-type(3){
  flex-direction: column;
  justify-content: start;
}

.country-flag-image {
  width: 10%;
  max-width: 4rem;
  min-width: 3rem;
}

.currency-input {
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--white);
  background-color: var(--transparent);
  border: none;
  text-align: right;
  caret-color: var(--blueNavy);
  width: 80%;
}

.currency-input::placeholder {
  color: var(--lightGray) !important;
}

.currency-input:focus,
.currency-selection:focus {
  outline: none;
  box-shadow: 0 0 0.2rem var(--blueNavy);
}

.currency-selection {
  padding: 0.5rem;
  background-color: var(--transparent);
  color: var(--white);
  border: none;
}

.currency-component-item:nth-of-type(1) .currency-selection {
  background-color: var(--black);
}

.currency-component-item:nth-of-type(2) .currency-selection {
  background-color: var(--darkGray);
}

.currency-exchange-btn {
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--blueNavy);
  width: 80%;
  max-width: 25rem;
  height: 2.5rem;
  color: var(--white);
}

.currency-exchange-btn:hover {
  box-shadow: 0 0 0.3rem var(--black);
}

.currency-exchange-btn:disabled {
  opacity: 0.1;
}

.rate-display-container{
  border: none;
  background-color: var(--black);
  color: var(--blueNavy);
  width: auto;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 10px;
  position: absolute;
  transform-origin: 50% 50%;
  bottom: -0.9rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  transition: all 0.45s ease-in-out;
  text-shadow: 0 0 0.2rem var(--blueNavy);
}

.rate-display {
  padding:0.2rem;
}

.reverse-btn {
  background-color: var(--black);
  color: var(--blueNavy);
  border: none;
  width: auto;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 50%;
  position: absolute;
  bottom: -0.7rem;
  left: 10%;
  transform: translate(-10%, 0);
  z-index: 2;
}

.reverse-btn i {
  padding: 0 0.4rem;
}

.reverse-btn:hover,.rate-display-container:hover{
  cursor: pointer;
  box-shadow: 0 -0.2px 0.1rem var(--blueNavy);
}